@import "bootstrap";
@import "toastr";
.remove-btn{
	display:inline-block;
	background:#e76f51;
	font-size:2vh;
	color:white;
}
.card-bottom-cart {
  max-width: 15vh;
}
.container{
  min-height: 89vh;
}
.cart-size{
  min-width: 20vh;
}
.card-prodcut{
  min-height: 89vh;
}
.cart-product{
	img{
    max-width: 40vh;
  }
  min-width: 30vh;
	max-width: 38vh;
  margin: 3vh;
  padding: 3vh;
	//color:red;
}
.product
{
  .title{
    color: #001427
  }
  .description
  {
    color: #001427
  }
  img{
    max-height: 50vh;
  }
}
#cart {
  &:hover {
    color: #2ec4b6;
    cursor: pointer;
  }
}
