@import "bootstrap";
@import "toastr";

.container{
  min-height: 89vh;
}

.card-prodcut{
  min-height: 500px;
}
.product
{
  .title{
    color: #001427
  }
  .description
  {
    color: #001427
  }
  img{
    max-height: 50vh;
  }
}
#cart {
  &:hover {
    color: #2ec4b6;
    cursor: pointer;
  }
}
